asttokens
backcall
colorama
contourpy
cycler
debugpy
decorator
executing
fonttools
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
ngrok
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
seaborn
six
stack-data
tenacity
tornado
traitlets
tzdata
wcwidth
