/* styles.css */

header{
  /* width: 800px; */
  Height: 460px;
  margin: 20px 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

img.profile-photo {
  width: 400px;
  overflow-clip-margin: content-box;
  overflow: clip;
  display: flex;
  margin-left: auto;
  margin-right: auto;


}



body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  min-width: 300px;
  max-width: 1000;
  flex:display;
  flex-direction: column;
  margin: auto;
  padding: 40px 40px;
  align-items: centre;
  justify-content: centre;
  background:rgb(181, 181, 181);

}




#welcome{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: normal;
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 20px;
}

#welcome >p {
  margin: 0;
  padding: 0;
}


#about{
  color:blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
}

#about h2 {
  margin-bottom: 5px; 
  margin-bottom: 5px;
}

#about h3 {
  margin-top: 5px; 
  margin-bottom: 5px; 
}

.ML{
  width:300px;
  display:flex;
  flex-direction:column;
}

#project{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  margin-left:auto;
  margin-right: auto;
  
}

#footer{
  display:flex;
  height: 80px;
  justify-content: space-between;
  margin-left:auto;
  margin-right:auto;
}

.dc{
  width:20px;
  height:24px;
  background-color: blueviolet;
}